@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #805C0F;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #4BB8BE;
}
body {
    background-color: #4BB8BE;
    padding: 0;
    margin: 0;
}
h2{
    margin: 0;
}
header {
    background-color: #4BB8BE;
}
nav a:hover {
    background-color: #4BB8BE;
    color:#805C0F;
}
.book, .join {
    background-color: #4BB8BE;
    color: #805C0F;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #4BB8BE;
    color: #805C0F;
}
.msg {
    background-color: #4BB8BE;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #4BB8BE;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: #805C0F;
    font-family: "Libre Bodoni", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #805C0F;
}
.msg h2{
    color: #805C0F;
    font-family: "Libre Bodoni", Helvetica, sans-serif;
}
.msg p{
    color: #805C0F;
    font-size: 0.8em;
    padding-bottom: 15px;
}
footer h3{
    color: #805C0F;
}
footer a{
    color: #805C0F;
    text-decoration: none;
}
footer a:hover{
    color: #805C0F;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 80px;
}
footer h3 a:hover{
    text-decoration: underline;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin:200px 0;
}
.card-img{
    border: 10px solid #0C5A3B;
}