@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Nunito:wght@300&display=swap');
header {
    background-color: #219ebc;
    display: grid;
    grid-template-columns: 150px 1fr;
}

#logo_link {
    padding: 10px;
    margin: 10px
}

header img {
    max-width: 100%;
    max-height: 100%;
}

.header-links {
    display: flex;
    width: 90%;
    gap: 10%;
    justify-content: center;
    margin: auto;
    background-color: #ffb703;
    padding: 20px;
    text-align: center;
}

body {
    background-color: #023047;
}

.header-links a {
    vertical-align: center;
    background-color: #219ebc;
    padding: 20px;
    width: 25%;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}
h4{
    font-size: x-large;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: aliceblue;
}

a:hover {
    color: #ffb703;
}

a:active {
    color: #219ebc;
}

main {
    height: auto;
    background-color: #023047;
}
p, li {
    font-size: x-large;
    font-family: 'Nunito', sans-serif;
}
.exercises{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    text-align: center;
}
.exercises h4{
    font-size: xx-large;
    background-color: #ffb703;
    padding: 30px;
    margin-bottom: 0;
}
.exercises p, ul{
    background-color: #219ebc;
    padding: 20px;
    margin-top: 0;
}
.exercises h4, p, ul{
    margin-left: 10px;
    margin-right: 10px;
}

ul{
    list-style: none;
}
.exercises img {
    height: 400px;
    width: auto;
    padding: 20px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 0;
}
main h3 {
    background-color:#ffb703;
    width: 97%;
    height: 100px;
    font-size: 45px;
    margin: 10px auto;
    padding: 25px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 100px;
}

footer {
    background-color: #ffb703;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

footer a {
    width: 20%;
    text-align: left;
}

footer a:hover {
    color: #219ebc;
}
footer span {
    text-align: right;
    align-self: flex-end;
    width: 20%;
}


footer img {
    width: 100px;
}